body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:65px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2686 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:270px;
}
#u2687_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:30px;
}
#u2687 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:30px;
  color:#FFFFFF;
}
#u2687_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:61px;
  word-wrap:break-word;
}
#u2688_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:30px;
}
#u2688 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:65px;
  height:30px;
}
#u2688_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:61px;
  word-wrap:break-word;
}
#u2689_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:30px;
}
#u2689 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:65px;
  height:30px;
}
#u2689_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:61px;
  word-wrap:break-word;
}
#u2690_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:30px;
}
#u2690 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:65px;
  height:30px;
}
#u2690_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:61px;
  word-wrap:break-word;
}
#u2691_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:30px;
}
#u2691 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:65px;
  height:30px;
}
#u2691_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:61px;
  word-wrap:break-word;
}
#u2692_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:30px;
}
#u2692 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:150px;
  width:65px;
  height:30px;
}
#u2692_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:61px;
  word-wrap:break-word;
}
#u2693_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:30px;
}
#u2693 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:180px;
  width:65px;
  height:30px;
}
#u2693_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:61px;
  word-wrap:break-word;
}
#u2694_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:30px;
}
#u2694 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:210px;
  width:65px;
  height:30px;
}
#u2694_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:61px;
  word-wrap:break-word;
}
#u2695_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:30px;
}
#u2695 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:240px;
  width:65px;
  height:30px;
}
#u2695_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:61px;
  word-wrap:break-word;
}
